
/* タブレット用（最大767px） */
@media screen and (max-width: 767px) {
    .header {
        width: 300px;
    }

    .left {
        width: 100px;
    }

    .top-left {
        width: 125px;
    }

    .top-right {
        width: 75px;
    }

    .bottom {
        width: 200px;
    }

    .footer {
        width: 300px;
    }
}

